@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Sembunyikan scrollbar untuk Chrome, Safari dan Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Sembunyikan scrollbar untuk IE, Edge dan Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
html {
  scroll-behavior: smooth;
}