@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar { display: none; }
  .scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
}

/* Pastikan tidak ada margin/padding default yang mengganggu */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Area konten utama harus punya jarak dari atas */
.main-content-area {
  padding-top: 190px; /* Sesuaikan dengan tinggi header */
}