@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar { display: none; }
  .scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
}

html {
  /* Scroll smooth global */
  scroll-behavior: smooth;
  /* Mencegah scroll default browser yang memantul di beberapa device */
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* gray-50 */
}